<div class="container review restaurant-item">
  <div class="row">
    <div class="col-sm left">
      <span class="name"><%= review.name %></span>

      from

      <span class="name"><%= review.review_details.restaurant_review_details.parent_review.name %></span>
    </div>
    <div class="col-sm rating">
      <%= review.rating %> / 5.5
    </div>
    <div class="col-sm type">
      <%= review.review_details.subtype %>
    </div>
  </div>
  <div class="row review-body">
    <div class="col">
      <%= review.body %>
    </div>
  </div>
</div>