<div class="row">
  Name
  <%= f.text_field(:name) %>
</div>
<div class="row">
  Rating
  <%= f.number_field(:rating, min: 0, max: 5.5, step: 0.5) %>
</div>
<div class="row">
  Body
  <%= f.text_area(:body, size: "24x6") %>
</div>
<div class="row">
  Url
  <%= f.text_field(:url) %>
</div>

<%= hidden_field_tag(:type, @type) %>
<% case @type %>
  <% when BoozeReviewDetails.type %>
    <%= render partial: '/reviews/review_forms/booze', locals: {f: f} %>
  <% when RestaurantReviewDetails.type %>
    <%= render partial: '/reviews/review_forms/restaurant', locals: {f: f} %>
  <% when RestaurantItemReviewDetails.type %>
    <%= render partial: '/reviews/review_forms/restaurant_item', locals: {f: f} %>
<% end %>