<div class="container">
  <h1>Max Reviews Everything!</h1>
  <% if user_signed_in? %>
    Logged in as 
    <span style="color: <%= current_user.admin ? 'blue' : 'black' %>"><%= current_user.email %></span>

    <% if current_user.admin %>
      <p>
        <%= form_tag new_review_path, method: :get do %>
          Add a review: 

          <%= select_tag :type, options_for_select(Review::TYPES.map(&:type)), include_blank: true, :onchange => "this.form.submit()" %>
        <% end %>
      </p>
    <% end %>
  <% else %>
    <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>
  <% end %>

  <% @reviews.each do |review| %>
    <% case review.type %>
    <% when "Restaurant Item" %>
      <%= render partial: '/reviews/review_types/restaurant_item', locals: {review: review} %>
    <% when "Restaurant" %>
      <%= render partial: '/reviews/review_types/restaurant', locals: {review: review} %>
    <% when "Booze" %>
      <%= render partial: '/reviews/review_types/booze', locals: {review: review} %>
    <% else %>
    <div class="container review">
      <div class="row">
        <div class="col-sm name">
          <%= review.name %>
        </div>
        <div class="col-sm rating">
          <%= review.rating %> / 5.5
        </div>
        <div class="col-sm type">
          <%= review.review_details.type %>
        </div>
      </div>
      <div class="row review-body">
        <div class="col">
          <%= review.body %>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
