<div class="container">
  <h1>Max Reviews Everything!</h1>
  <% @reviews.each do |review| %>
    <% case review.type %>
    <% when "Restaurant Item" %>
      <%= render partial: '/reviews/review_types/restaurant_item', locals: {review: review} %>
    <% when "Restaurant" %>
      <%= render partial: '/reviews/review_types/restaurant', locals: {review: review} %>
    <% when "Booze" %>
      <%= render partial: '/reviews/review_types/booze', locals: {review: review} %>
    <% else %>
    <div class="container review">
      <div class="row">
        <div class="col-sm name">
          <%= review.name %>
        </div>
        <div class="col-sm rating">
          <%= review.rating %> / 5.5
        </div>
        <div class="col-sm type">
          <%= review.review_details.type %>
        </div>
      </div>
      <div class="row review-body">
        <div class="col">
          <%= review.body %>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
<% if user_signed_in? %>
  Logged in as <%= current_user.email %>
<% else %>
  <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>
<% end %>
